@model ProjetoFinalCurso.Models.ConcertBandViewModel

<section class="footer-first-section">
    <div class="login" @*class="container"*@ style="position:center">


        <div class="box-wrap">
            <header>
                <h1>Bands</h1>
            </header>



            <section class="quick-contact">

                <form asp-action="AddBand">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ConcertId" />

                    <div class="form-group">
                        <label asp-for="BandId" class="control-label" style="font-size: 1.6rem;"></label>
                        <select asp-for="BandId" asp-items="Model.ListBands" class="form-control footer-first-section" style=" color: white; background-color: black; font-size: 1.4rem;border: 1px solid #fff;border-radius: 5px"></select>
                        <span asp-validation-for="BandId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                        <p></p>
                        <a asp-action="Index" class="btn-login">Back to List</a>
                    </div>
                </form>

            </section>
        </div>

    </div>

</section>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }