@model ProjetoFinalCurso.Models.ConcertViewModel

@{
    ViewData["Title"] = "Edit";
}

<section class="footer-first-section">
    <div class="login" @*class="container"*@ style="position:center">


        <div class="box-wrap">
            <header>
                <h1>Edit Concert</h1>
            </header>



            <section class="quick-contact">
                <form asp-action="Edit" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />

                    <partial name="_Concerts" />

                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <p></p>
                        <a asp-action="Index" class="btn-login">Back to List</a>
                    </div>
                </form>
      
            </section>
        </div>

    </div>

</section>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
