 <!DOCTYPE html>
<html lang="en">
<head>


	<script src=”https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js”></script>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/bootstrap.bundle.js"></script>

	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/style.css">

	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css" />
	<link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
	<link href="https://fonts.googleapis.com/css?family=Raleway:500,800" rel="stylesheet">
	<link rel="stylesheet" href="~/css/site.css" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/all.css">
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/css/all.min.css">
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/lightbox.css">
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/flexslider.css">
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/owl.carousel.css">
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/owl.theme.default.css">
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/jquery.rateyo.css" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/inner-page-style.css">
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet">







    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjetoFinalCurso</title>


</head>

	<body>

		<section>

			<div id="page" class="site" itemscope itemtype="http://schema.org/LocalBusiness">
				<header class="site-header">
					<div class="top-header">
						<div class="container">


							<div class="top-header-left">
								<li class="nav-item">
									<h1><a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index">NFGTickets</a></h1>
								</li>
							</div>



							<div class="top-header-right">


								<div class="login-block">
									<ul>
								
										@if (this.User.Identity.IsAuthenticated)
										{

											<li class="nav-item">
												<h4><a class="nav-link" asp-area="" asp-controller="Account" asp-action="ChangeUser">@this.User.Identity.Name</a></h4>
											</li>
											<li class="nav-item">
												<h4><a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a></h4>
											</li>
										}
										else
										{
											<li class="nav-item">
												<h4><a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Login</a></h4>
											</li>
										}
									</ul>
								</div>
							</div>
						</div>
					</div>

				</header>
			</div>


		</section>






	








		<div style="background-image:url('images/pexels-sebastian-ervi-1763075.jpg');  background-size: 100% auto ;">

			<div class="main-header">
				<div class="container">
					<div class="logo-wrap" itemprop="logo">

						<!-- <h1>Education</h1> -->
					</div>
					<div class="nav-wrap">
						<nav class="nav-desktop">
							<ul class="menu-list">

								<li><a class="nav-link" asp-area="" asp-controller="Establishments" asp-action="Index">Establishments</a></li>
								<li><a class="nav-link" asp-area="" asp-controller="Bands" asp-action="Index">Bands</a></li>
								<li><a class="nav-link" asp-area="" asp-controller="Concerts" asp-action="Index">Concerts</a></li>
								<li><a class="nav-link" asp-area="" asp-controller="Tickets" asp-action="Index">Tickets</a></li>

								@if (this.User.Identity.IsAuthenticated && !this.User.IsInRole("Employee"))
								{
									<li><a class="nav-link" asp-area="" asp-controller="Orders" asp-action="Index">Buy Tickets</a></li>
								}

								@if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
								{

									<li class="menu-parent">
										Admin

										<ul class="sub-menu">
											<li><a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Create User</a></li>

										</ul>
									</li>
								}



							</ul>
						</nav>
						<div id="bar">
							<i class="fas fa-bars"></i>
						</div>
						<div id="close">
							<i class="fas fa-times"></i>
						</div>
					</div>
				</div>
			</div>



			<div class="container">
				<main role="main" class="pb-3">
					@RenderBody()
				</main>
			</div>
		</div>

	




		<footer class="page-footer" itemprop="footer" itemscope itemtype="http://schema.org/WPFooter">
			<div class="footer-last-section">
				<div class="container">
					<p>Copyright 2022; NFGTickets <span> | </span> Gonçalo Silva - Nuno Silva - Fábio Rodrigues</p>
				</div>
			</div>
		</footer>
		
		@await RenderSectionAsync("Scripts", required: false)
	</body>
</html>