@model ProjetoFinalCurso.Models.Login.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}


        <section class="footer-first-section">
            <div class="login" @*class="container"*@ @*style="position:center"*@>


                <div class="box-wrap">
                    <header>
                        <h1>ChangePassword</h1>
                    </header>



                    <section class="quick-contact">
                        <form method="post">
                            <div asp-validation-summary="ModelOnly"></div>

                            <div class="form-group">
                                <label asp-for="OldPassword" style="font-size: 1.6rem;">Current password</label>
                                <input asp-for="OldPassword" type="password" class="form-control" />
                                <span asp-validation-for="OldPassword" class="text-warning"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="NewPassword" style="font-size: 1.6rem;">New password</label>
                                <input asp-for="NewPassword" type="password" class="form-control" />
                                <span asp-validation-for="NewPassword" class="text-warning"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Confirm" style="font-size: 1.6rem;">Confirm</label>
                                <input asp-for="Confirm" type="password" class="form-control" />
                                <span asp-validation-for="Confirm" class="text-warning"></span>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Change password" class="btn btn-primary" />
                                <p></p>
                                <a asp-action="ChangeUser" class="btn-login">Back to user</a>
                            </div>
                        </form>



                    </section>
                </div>

            </div>

        </section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
